.academy-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;

  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-big;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
}

.academy-logo {
  margin-left: 13px;
}

.academy-link:hover .academy-logo {
  fill: $blue;
}

.academy-link:active .academy-logo {
  fill: $black;
  opacity: 0.3;
}
