.feedback {
  margin-bottom: 73px;

  @media (min-width: $tablet-width) {
    padding-left: $tablet-indent;
    padding-right: $tablet-indent;
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding-left: $desktop-indent;
    padding-right: $desktop-indent;
    margin-bottom: 90px;
  }
}

.feedback__header {
  margin-bottom: 18px;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    padding-left: $mobile-indent;
    padding-right: $mobile-indent;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.feedback__title,
.feedback__description {
  width: 98%;
  max-width: 440px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.feedback__title {
  margin-bottom: 26px;
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-bigger;
    margin-bottom: 30px;
  }
}

.feedback__description {
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-normal;
  color: $gray-dark;

  text-transform: uppercase;
}

.feedback__form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feedback__note {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    margin-top: 21px;
    font-size: $font-size-small;
    line-height: $line-height-big;
    font-weight: 400;
    color: $gray-dark;
    text-transform: uppercase;
  }
}

.feedback__fieldset {
  box-sizing: border-box;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.feedback__fieldset--introduce {
  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-left: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.feedback__fieldset--contacts {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding: 0;
    padding-top: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    padding-top: 64px;
  }
}

.feedback__fieldset--attraction {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    margin-bottom: 11px;
    padding-top: 42px;
  }
}

.feedback__fieldset--impression {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    order: -1;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 20px;
      width: 1px;
      background-color: $gray-line;
    }
  }
}

.feedback__fieldset--emotions {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    padding-top: 58px;
    margin-bottom: 23px;
  }
}


.feedback__btn-container {
  margin-top: 15px;
  margin-bottom: 15px;

  @media (max-width: $mobile-width-only) {
    padding-left: $mobile-indent;
    padding-right: $mobile-indent;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    margin-top: 0;
  }
}
