.fieldset {
  border: 0;
}

.fieldset__title {
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;
}

.fieldset__description {
  font-size: $font-size-normal;
  font-weight: 400;
  line-height: $line-height-normal;
  color: $gray-dark;

  text-transform: uppercase;
}
