.gallery {
  margin-bottom: 77px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: $tablet-indent;
    padding-right: $tablet-indent;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 122px;
    padding: 0;
  }
}

.gallery__header {
  width: 100%;
  margin-bottom: 28px;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    box-sizing: border-box;
    padding-left: $mobile-indent;
    padding-right: $mobile-indent;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
}

.gallery__header--video {
  padding-top: 33px;
  margin-bottom: 35px;

  border-top: 1px solid $gray-input;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
    padding-top: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    padding-top: 75px;
  }
}

.gallery__title,
.gallery__description {
  width: 98%;
  max-width: 440px;
  margin: 0 auto;
  padding: 0;
}

.gallery__title {
  margin-bottom: 26px;
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: $font-size-bigger;
  }
}

.gallery__description {
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-normal;
  color: $gray-dark;

  text-transform: uppercase;
}

.gallery__visit {
  text-align: center;
}

.gallery-video {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 67%;
  }
}
