.gallery {
  margin-bottom: 77px;
}

.gallery__header {
  margin-bottom: 30px;
}

.gallery__title {
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;
}

.gallery__description {
  margin: 0;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-normal;
  color: $gray-dark;

  text-transform: uppercase;
}

.gallery__posts {
  margin: 0;
  padding: 0;
  list-style: none;
}
