.input-text {
  display: flex;
  align-items: baseline;
  width: 100%;
}

.input-text--full {
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-wrap: nowrap;
    width: auto;
  }
}

.input-text--full .input-text__description {
  width: 100%;
  padding-left: 21px;

  @media (min-width: $desktop-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 0;
  }
}

.input-text--full .input-text__field {
  margin-top: 8px;
  margin-left: 0;
}

.input-text__description {
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-big;
  color: $gray-dark;

  text-transform: uppercase;
}

.input-text__field {
  width: 100%;
  margin-left: 13px;
  padding: 12px 18px;

  @include input-text-style;
}

.input-text__hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
