.input-check {
  position: relative;
  display: block;
}

.input-check__description {
  display: block;
  padding-top: 14px;
  padding-bottom: 20px;
  padding-left: 80px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 55px;
    height: 55px;

    background-color: $gray-input;
    border-radius: 10%;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 55px;
    height: 55px;
  }

  @include input-checkbox-style;
}

.input-check__description:hover::before {
  background-color: $gray-lighter;
}

.input-check__description:active {
  &::before {
    background-color: $gray-darker;
  }

  &::after {
    opacity: 0.3;
  }
}

.input-check__btn:checked + .input-check__description::after {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}
