.intro {
  width: 100%;
  background-color: $blue;
}

.intro__image {
  display: block;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    height: 290px; /* Временно */
  }

  @media (min-width: $desktop-width) {
    height: 302px;
  }
}

.intro--first-page .intro__image {
  @media (min-width: $tablet-width) {
    height: 518px; /* Временно */
  }
}
