.page-footer {
  padding-bottom: 23px;
  background-color: $gray-light;

  @media (max-width: $mobile-width-only) {
    padding-right: $mobile-indent;
    padding-left: $mobile-indent;
  }
}

.page-footer__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__hashtag {
  display: block;
  margin-bottom: 37px;

  font-size: $font-size-big;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;
}

.page-footer__social {
  margin-bottom: 38px;
}

.page-footer__copyright {

}
