.post-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.post {
  margin-bottom: 15px;
  padding-top: 23px;
  border-top: 1px solid $gray-input;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    margin-bottom: 0;
    padding-top: 0;
    border: 0;

    &:first-of-type {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
    }

    &:first-of-type .post__info {
      padding-right: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;

    &:first-of-type {
      flex-grow: 1;
      flex-shrink: 0;
      flex-basis: 100%;
    }
  }
}

.post__content {
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    padding-left: $mobile-indent;
    padding-right: $mobile-indent;
  }
}

.post__image {
  display: block;
  width: 100%;
  background-color: $photo-bg;

  @media (min-width: $tablet-width) {
    height: 267px;
  }
}

.img__first {  /*Временно*/
  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.post__info {
  display: flex;
  flex-direction: column;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 17px;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 7px;
    background-color: $gray-input;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.post__description {
  margin-bottom: 8px;
}

.post__title {
  margin: 0;
  font-size: $font-size-small;
  font-weight: 700;
  line-height: $line-height-normal;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.post__author {
  margin: 0;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-normal;
  color: $gray-dark;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.post__likes {
  padding-left: 36px;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }
}

.post__likes-amount {
  font-size: $font-size-small;
  font-weight: 700;
  line-height: $line-height-normal;
  color: $black;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
