.reason--blue {
  background-color: $blue;
  color: $white;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) .reason__picture {
      order: -1;
    }
  }
}

.reason--gray {
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: $gray;

  @media (max-width: $mobile-width-only) {
    padding-right: $mobile-indent;
    padding-left: $mobile-indent;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.3%;
    padding: 45px 48px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 66px;
  }
}

.reason__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: $mobile-width-only) {
    padding-right: $mobile-indent;
    padding-left: $mobile-indent;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.3%;
    padding: 45px;

    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 65px;
  }
}

.reason__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 160px;
    font-size: $font-size-big;
  }
}

.reason__number {
  display: block;
  margin-bottom: 14px;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-small;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 21px;
  }
}

.reason__description {
  margin: 0;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-small;

  text-transform: uppercase;
}

.reason:nth-child(2) .reason__description {
  @media (min-width: $desktop-width) {
    max-width: 236px;
    margin: 0 auto;
  }
}

.reason__picture {
  @media (min-width: $tablet-width) {
    align-self: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 66.6%;
    max-height: 256px;
    overflow: hidden;
  }
}

.reason__attachments {
  margin: 0;
  padding: 0 $mobile-indent;
  padding-top: 25px;
  padding-bottom: 19px;

  background-color: $white;

  text-align: left;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 0;
  }
}

.reason__attachments-item {
  box-sizing: border-box;
  margin-bottom: 18px;
  padding-top: 10px;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33.333333%;

    margin: 0;
    padding-top: 159px;
    padding-bottom: 60px;
    padding-right: 45px;
    padding-left: 45px;

    text-align: center;
  }

  @media (min-width: $desktop-width) {
    padding-top: 161px;
    padding-bottom: 82px;
    padding-right: 55px;
    padding-left: 55px;
  }

  &:nth-child(2) {
    order: 1;
  }
}

.reason__item-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: $font-size-big;
  }
}

.reason__item-text {
  margin: 0;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-small;
  color: $gray-dark;

  text-transform: uppercase;
}

.reason--gray .reason__description {
  @media (max-width: $mobile-width-only) {
    width: 90%;
    margin: 0 auto;
  }
}


.reason__image {
  display: block;
  width: 100%;
  min-height: 256px;
  height: auto;

  @media (min-width: $desktop-width) {
    margin-top: -70px;
  }
}
