.reason--blue {
  background-color: $blue;
  color: $white;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2) .reason__picture {
      order: -1;
    }
  }
}

.reason--gray {
  padding-top: 23px;
  padding-bottom: 30px;
  background-color: $gray;

  @media (max-width: $mobile-width-only) {
    padding-right: $mobile-indent;
    padding-left: $mobile-indent;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 33%;
    box-sizing: border-box;
  }
}

.reason__wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (max-width: $mobile-width-only) {
    padding-right: $mobile-indent;
    padding-left: $mobile-indent;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33%;

    box-sizing: border-box;
  }
}

.reason__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;

  text-transform: uppercase;
}

.reason__number {
  display: block;
  margin-bottom: 15px;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-small;

  text-transform: uppercase;
}

.reason__description {
  margin: 0;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-small;

  text-transform: uppercase;
}

.reason__description + .reason__description {
  margin-top: 10px;
}

.reason__picture {
  @media (min-width: $tablet-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 67%;
  }
}

.reason__attachments {
  margin: 0;
  padding: 0 $mobile-indent;
  padding-top: 22px;
  padding-bottom: 18px;

  background-color: $white;

  text-align: left;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
  }
}

.reason__attachments-item {
  box-sizing: border-box;
  margin-bottom: 18px;
  padding-top: 10px;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33%;

    margin: 0;

    text-align: center;
  }

  &:nth-child(2) {
    order: 1;
  }
}

.reason__item-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;
}

.reason__item-text {
  margin: 0;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-small;
  color: $gray-dark;

  text-transform: uppercase;
}

.reason--gray .reason__description {
  @media (max-width: $mobile-width-only) {
    width: 90%;
    margin: 0 auto;
  }
}
