.reasons {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.reasons__header {
  padding: 0;
  margin-bottom: 40px;
  background-color: $white;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    padding-right: $mobile-indent;
    padding-left: $mobile-indent;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.reasons__title,
.reasons__description {
  width: 98%;
  max-width: 440px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.reasons__title {
  margin-bottom: 28px;
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;

  @media (max-width: $mobile-width-only) {
    width: 96%
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-big;
  }
}

.reasons__description {
  max-width: 487px;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-big;
  color: $gray-dark;

  text-transform: uppercase;
}

.reasons__row {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  list-style-type: none;

  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 54px;
  }
}

.reasons__search {
  background-color: $white;

  text-align: center;

  @media (max-width: $mobile-width-only) {
    padding-right: $mobile-indent;
    padding-left: $mobile-indent;
  }
}

.reasons__search-title {
  margin: 0;
  margin-bottom: 19px;
  font-size: $font-size-big;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: $font-size-bigger;
  }
}

.reasons__search-description {
  margin: 0;
  margin-bottom: 35px;
  font-size: $font-size-small;
  font-weight: 400;
  line-height: $line-height-normal;
  color: $gray-dark;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 42px;
  }
}

.reasons__search-btn {
  max-width: 460px;
  margin: 0 auto;
}
