.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.social__item {
  margin: 0 3px;
}

.social__btn {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  cursor: pointer;
  color: $white;
  border: 0;
  background-color: $blue;

  &:hover {
    background-color: $blue-darker;
  }

  &:active {
    background-color: $blue-darkest;
  }
}

.social__btn:active .social__icon {
  opacity: 0.3;
}

.social__icon {
  fill: $white;
}
