@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"); }

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff"); }

.btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 16px 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans", arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  border: 0;
  color: #ffffff;
  background-color: #81b3d2; }
  .btn:hover {
    background-color: #669ec0; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }

.page {
  margin: 0;
  background-color: #f2f2f2;
  font-family: "PT Sans", arial, sans-serif; }

.page-wrapper {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff; }
  @media (min-width: 1200px) {
    .page-wrapper {
      -webkit-box-shadow: 0 0 60px -5px rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 60px -5px rgba(0, 0, 0, 0.2); } }

.page-header,
.page-header--index {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-header__logo-wrapper {
  z-index: 1;
  width: 100%;
  height: 56px;
  background-color: transparent; }
  @media (min-width: 768px) {
    .page-header__logo-wrapper {
      position: absolute;
      top: 0;
      left: 50%;
      width: auto;
      height: auto;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }

.page-header__logo {
  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .page-header__logo {
      width: auto;
      height: auto; } }

.main-nav {
  position: relative;
  width: auto;
  background-color: #81b3d2; }
  @media (min-width: 768px) {
    .main-nav {
      width: auto;
      margin: 0;
      background-color: #ffffff; } }

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 4px;
  z-index: 2;
  display: block;
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  cursor: pointer;
  border: none; }
  @media (min-width: 768px) {
    .main-nav__toggle {
      display: none; } }

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 16px;
  width: 23px;
  height: 4px;
  background-color: #81b3d2;
  -webkit-box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
          box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2; }

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 4px;
  background-color: #81b3d2; }
  .main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 14px;
    width: 27px;
    height: 4px;
    background-color: #ffffff; }
  .main-nav--opened .main-nav__toggle::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--opened .main-nav__toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.main-nav--closed .main-nav__item {
  display: none; }
  @media (min-width: 768px) {
    .main-nav--closed .main-nav__item {
      display: block; } }

.main-nav--nojs .main-nav__toggle {
  display: none; }

.main-nav--nojs .main-nav__list {
  position: static; }

.main-nav--nojs .main-nav__item {
  display: block; }

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .main-nav__list {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%; } }

@media (min-width: 768px) {
  .main-nav__item {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
    .main-nav__item:nth-of-type(2) {
      margin-right: 10%; }
    .main-nav__item:nth-of-type(3) {
      margin-left: 10%; } }

.main-nav__link {
  display: block;
  padding-top: 6px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #81b3d2;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8; }
  .main-nav__link:hover {
    background-color: #669ec0; }
  .main-nav__link:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 768px) {
    .main-nav__link {
      padding: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 14px;
      line-height: 26px;
      background: none;
      border: none;
      color: #000000; }
      .main-nav__link:hover {
        background: none;
        color: #81b3d2; }
      .main-nav__link:active {
        background: none;
        color: rgba(0, 0, 0, 0.3); } }

@media (min-width: 768px) {
  .main-nav__link--current {
    color: #766357; }
    .main-nav__link--current:hover {
      color: #604e43; }
    .main-nav__link--current:active {
      color: rgba(118, 99, 87, 0.3); } }

.intro {
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 0.1px solid #ffffff;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-origin: border-box;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .intro {
      background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .intro {
      margin-bottom: 75px;
      padding-bottom: 16px;
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-size: 100%, cover; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .intro {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg"); } }
  @media (min-width: 1200px) {
    .intro {
      margin-bottom: 112px;
      padding-bottom: 40px;
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-size: 100%, cover; } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .intro {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg"); } }

.intro__wrapper {
  padding-right: 20px;
  padding-left: 20px; }
  @media (min-width: 768px) {
    .intro__wrapper {
      padding-right: 0;
      padding-left: 0; } }

.intro__image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 45px; }
  @media (min-width: 768px) {
    .intro__image {
      width: 60%;
      padding-top: 78px;
      padding-bottom: 50px; } }
  @media (min-width: 1200px) {
    .intro__image {
      width: 38%; } }

.intro__image--no-index {
  width: 71%;
  padding-top: 50px;
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .intro__image--no-index {
      width: 59%;
      padding-top: 95px;
      padding-bottom: 100px; } }
  @media (min-width: 1200px) {
    .intro__image--no-index {
      width: 38%;
      padding-top: 101px;
      padding-bottom: 81px; } }

@media (min-width: 768px) {
  .intro--first-page {
    margin-bottom: 50px;
    padding-bottom: 40px; } }

@media (min-width: 1200px) {
  .intro--first-page {
    margin-bottom: 52px; } }

.reasons {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .reasons {
      margin-bottom: 58px; } }
  @media (min-width: 1200px) {
    .reasons {
      margin-bottom: 66px; } }

.reasons__header {
  padding: 0;
  margin-bottom: 3px;
  background-color: #ffffff;
  text-align: center; }
  @media (max-width: 767px) {
    .reasons__header {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 768px) {
    .reasons__header {
      margin-bottom: 50px; } }

.reasons__title,
.reasons__description {
  width: 98%;
  max-width: 440px;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 768px) {
    .reasons__title,
    .reasons__description {
      width: 100%; } }

.reasons__title {
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .reasons__title {
      width: 96%; } }
  @media (min-width: 768px) {
    .reasons__title {
      font-size: 21px; } }

.reasons__description {
  max-width: 487px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase; }

.reasons__row {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  list-style-type: none;
  text-align: center; }
  @media (max-width: 767px) {
    .reasons__row {
      padding-top: 39px;
      background: #81b3d2 url("../img/bg-triangle.svg") no-repeat center top;
      background-size: contain; } }
  @media (min-width: 768px) {
    .reasons__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-bottom: 54px; } }

.reasons__search {
  background-color: #ffffff;
  text-align: center; }
  @media (max-width: 767px) {
    .reasons__search {
      padding-right: 20px;
      padding-left: 20px; } }

.reasons__search-title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .reasons__search-title {
      margin-bottom: 30px;
      font-size: 30px; } }

.reasons__search-description {
  margin: 0;
  margin-bottom: 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .reasons__search-description {
      max-width: 450px;
      margin: 0 auto;
      margin-bottom: 42px; } }
  @media (min-width: 1200px) {
    .reasons__search-description {
      margin-bottom: 47px; } }

.reasons__search-btn {
  max-width: 460px;
  margin: 0 auto; }

.reasons__description-break {
  display: none; }
  @media (min-width: 768px) {
    .reasons__description-break {
      display: block; } }

.reason--blue {
  background-color: #81b3d2;
  color: #ffffff; }
  @media (max-width: 767px) {
    .reason--blue {
      padding-top: 40px; } }
  @media (min-width: 768px) {
    .reason--blue {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .reason--blue:nth-child(2) .reason__picture {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; } }

.reason--gray {
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: #eeeeee;
  font-family: "PT Sans", arial, sans-serif;
  color: #000000; }
  @media (max-width: 767px) {
    .reason--gray {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 768px) {
    .reason--gray {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: 33.3%;
          flex-basis: 33.3%;
      max-width: 33.3%;
      padding: 45px 48px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }
  @media (min-width: 1200px) {
    .reason--gray {
      padding-bottom: 66px; } }

.reason__wrapper {
  padding-bottom: 40px; }
  @media (max-width: 767px) {
    .reason__wrapper {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (min-width: 768px) {
    .reason__wrapper {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: 33.3%;
          flex-basis: 33.3%;
      max-width: 33.3%;
      padding: 45px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }
  @media (min-width: 1200px) {
    .reason__wrapper {
      padding: 53px 65px; } }

.reason__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .reason__title {
      margin: 0 auto;
      margin-bottom: 10px;
      max-width: 160px;
      font-size: 21px; } }

.reason__number {
  display: block;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .reason__number {
      margin-bottom: 21px; } }

.reason__description {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase; }

@media (min-width: 1200px) {
  .reason:nth-child(2) .reason__description {
    max-width: 236px;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .reason__picture {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 66.6%;
        flex-basis: 66.6%;
    max-height: 256px;
    overflow: hidden; } }

.reason__attachments {
  margin: 0;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 19px;
  background-color: #ffffff;
  text-align: left;
  list-style-type: none; }
  @media (min-width: 768px) {
    .reason__attachments {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      padding: 0; } }

.reason__attachments-item {
  position: relative;
  margin-bottom: 18px;
  padding-top: 10px;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .reason__attachments-item {
      position: relative;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: 33.3%;
          flex-basis: 33.3%;
      max-width: 33.3%;
      margin: 0;
      padding-top: 159px;
      padding-bottom: 60px;
      padding-right: 45px;
      padding-left: 45px;
      text-align: center; } }
  @media (min-width: 1200px) {
    .reason__attachments-item {
      position: relative;
      padding-top: 161px;
      padding-bottom: 82px;
      padding-right: 55px;
      padding-left: 55px; } }
  .reason__attachments-item:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

.reason__item-icon {
  position: absolute;
  top: 0;
  left: 0;
  fill: #81b3d2; }
  @media (min-width: 768px) {
    .reason__item-icon {
      top: 57px;
      left: 50%;
      width: 80px;
      height: 76px;
      margin-left: -40px; } }

.reason__item-title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .reason__item-title {
      margin-bottom: 20px;
      font-size: 21px; } }

.reason__item-text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .reason--gray .reason__description {
    width: 90%;
    margin: 0 auto; } }

.reason__image {
  display: block;
  width: 100%;
  min-height: 256px;
  height: auto; }
  @media (min-width: 1200px) {
    .reason__image {
      margin-top: -70px; } }

.page-footer {
  padding-bottom: 23px;
  background-color: #fefefe; }
  @media (max-width: 767px) {
    .page-footer {
      padding-right: 20px;
      padding-left: 20px; } }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 0 60px; } }
  @media (min-width: 1200px) {
    .page-footer__wrapper {
      padding: 0 120px; } }

.page-footer__hashtag {
  display: block;
  margin-bottom: 37px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .page-footer__hashtag {
      margin: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%; } }

.page-footer__social {
  margin-bottom: 38px; }
  @media (min-width: 768px) {
    .page-footer__social {
      margin: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 40%;
              flex: 0 0 40%; } }

@media (min-width: 768px) {
  .page-footer__copyright {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.social__item {
  margin: 0 3px; }

.social__btn {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  cursor: pointer;
  color: #ffffff;
  border: 0;
  background-color: #81b3d2; }
  .social__btn:hover {
    background-color: #669ec0; }
  .social__btn:active {
    background-color: #5496bd; }

.social__btn:active .social__icon {
  opacity: 0.3; }

.social__icon {
  fill: #ffffff; }

.academy-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none; }

.academy-logo {
  margin-left: 13px; }

.academy-link:hover .academy-logo {
  fill: #81b3d2; }

.academy-link:active .academy-logo {
  fill: #000000;
  opacity: 0.3; }

.gallery {
  margin-bottom: 77px; }
  @media (min-width: 768px) {
    .gallery {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 75px; } }
  @media (min-width: 1200px) {
    .gallery {
      margin-bottom: 122px;
      padding: 0; } }

.gallery__header {
  width: 100%;
  margin-bottom: 28px;
  text-align: center; }
  @media (max-width: 767px) {
    .gallery__header {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 768px) {
    .gallery__header {
      margin-bottom: 68px; } }

.gallery__header--video {
  padding-top: 33px;
  margin-bottom: 35px;
  border-top: 1px solid #f2f2f2; }
  @media (min-width: 768px) {
    .gallery__header--video {
      margin-bottom: 74px;
      padding-top: 68px; } }
  @media (min-width: 1200px) {
    .gallery__header--video {
      margin-bottom: 70px;
      padding-top: 75px; } }

.gallery__title,
.gallery__description {
  width: 98%;
  max-width: 440px;
  margin: 0 auto;
  padding: 0; }

.gallery__title {
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .gallery__title {
      margin-bottom: 30px;
      font-size: 30px; } }

.gallery__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase; }

.gallery__visit {
  text-align: center; }

@media (min-width: 768px) {
  .gallery-video {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .gallery-video {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 67%;
        flex-basis: 67%; } }

.post-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .post-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }

.post {
  margin-bottom: 15px;
  padding-top: 23px;
  border-top: 1px solid #f2f2f2; }
  @media (min-width: 768px) {
    .post {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      margin-bottom: 0;
      padding-top: 0;
      border: 0; }
      .post:first-of-type {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        max-width: 100%; } }
  @media (min-width: 1200px) {
    .post {
      position: relative;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%; } }

.post__content {
  margin: 0 auto; }
  @media (max-width: 767px) {
    .post__content {
      padding-left: 20px;
      padding-right: 20px; } }

.post__photo {
  display: block; }

.post__image {
  display: block;
  width: 100%;
  height: auto;
  background-color: #b86d5c; }

.post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 13px; }
  @media (min-width: 768px) {
    .post__info {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-top: 17px;
      padding-left: 20px;
      padding-bottom: 7px;
      background-color: #f2f2f2; } }
  @media (min-width: 1200px) {
    .post__info {
      position: absolute;
      bottom: 0;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.6); } }

.post__description {
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .post__description {
      padding-right: 15px; } }

.post__title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 1200px) {
    .post__title {
      color: #ffffff; } }

.post__author {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333; }
  @media (min-width: 1200px) {
    .post__author {
      color: #ffffff; } }

@media (min-width: 768px) {
  .post__likes {
    width: 85px;
    margin-top: 10px; } }

@media (min-width: 1200px) {
  .post__likes {
    margin-top: 13px; } }

.post__likes-amount {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  padding-left: 10px; }
  @media (min-width: 768px) {
    .post__likes-amount {
      padding-left: 6px; } }
  @media (min-width: 1200px) {
    .post__likes-amount {
      color: #ffffff; } }

.post__likes-icon {
  opacity: 0.3; }
  @media (min-width: 1200px) {
    .post__likes-icon {
      fill: #ffffff;
      opacity: 1; } }

.video {
  position: relative;
  max-width: 850px; }

.video__file {
  width: 100%;
  background-color: #81b3d2; }
  @media (min-width: 768px) {
    .video__file {
      height: 499px;
      /* Временно */ } }

@media (max-width: 767px) {
  .video__wrapper {
    padding-left: 20px;
    padding-right: 20px; } }

.video__player {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: -50px;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, rgba(0, 0, 0, 0.6) 45px, #f2f2f2 45px); }
  @media (min-width: 768px) {
    .video__player {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      margin-top: -97px;
      background-color: rgba(0, 0, 0, 0.6);
      background-image: none; } }

.video__control {
  line-height: 0; }
  .video__control:nth-child(3) {
    margin-left: auto; }
  @media (min-width: 768px) {
    .video__control:nth-child(2) {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; } }

@media (min-width: 768px) {
  .video__control--btn {
    padding-left: 10px; } }

@media (min-width: 768px) {
  .video__control--btn:first-of-type {
    padding-left: 10px; } }

@media (min-width: 768px) {
  .video__control--btn:last-of-type {
    padding-right: 16px; } }

@media (min-width: 1200px) {
  .video__control--btn:last-of-type {
    padding-right: 18px; } }

.video__control--bar {
  width: 100%;
  margin-left: 0;
  padding: 22px 22px 20px; }
  @media (min-width: 768px) {
    .video__control--bar {
      padding-top: 45px;
      padding-bottom: 45px; } }

.video__range {
  position: relative;
  height: 3px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2); }

.video__roll {
  position: absolute;
  top: -3px;
  left: 15%;
  width: 9px;
  height: 9px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .video__roll {
      left: 29%; } }
  @media (min-width: 1200px) {
    .video__roll {
      left: 22%; } }

.video__btn {
  width: 63px;
  height: 65px;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent; }

.video__icon {
  fill: #5c6870; }
  @media (min-width: 768px) {
    .video__icon {
      fill: #ffffff; } }

.video__btn:hover .video__icon,
.video__btn:focus .video__icon {
  fill: #333333; }
  @media (min-width: 768px) {
    .video__btn:hover .video__icon,
    .video__btn:focus .video__icon {
      fill: #ffffff;
      opacity: 0.6; } }

.video__btn:active .video__icon {
  opacity: 0.3; }
  @media (min-width: 768px) {
    .video__btn:active .video__icon {
      opacity: 0.3; } }

.feedback {
  margin-bottom: 73px; }
  @media (min-width: 768px) {
    .feedback {
      padding-left: 60px;
      padding-right: 60px;
      margin-bottom: 85px; } }
  @media (min-width: 1200px) {
    .feedback {
      padding-left: 120px;
      padding-right: 120px;
      margin-bottom: 90px; } }

.feedback__header {
  margin-bottom: 18px;
  text-align: center; }
  @media (max-width: 767px) {
    .feedback__header {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 768px) {
    .feedback__header {
      width: 100%;
      margin-bottom: 74px; } }
  @media (min-width: 1200px) {
    .feedback__header {
      margin-bottom: 58px; } }

.feedback__title,
.feedback__description {
  width: 98%;
  max-width: 440px;
  margin: 0 auto;
  padding: 0; }
  @media (min-width: 768px) {
    .feedback__title,
    .feedback__description {
      width: 100%; } }

.feedback__title {
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .feedback__title {
      font-size: 30px;
      margin-bottom: 30px; } }

.feedback__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .feedback__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.feedback__note {
  display: none; }
  @media (min-width: 768px) {
    .feedback__note {
      display: block;
      margin-top: 21px;
      font-size: 14px;
      line-height: 26px;
      font-weight: 400;
      color: #333333;
      text-transform: uppercase; } }

.feedback__fieldset {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 26px; }
  @media (min-width: 768px) {
    .feedback__fieldset {
      margin-bottom: 50px; } }

@media (min-width: 768px) {
  .feedback__fieldset--introduce {
    padding-top: 57px;
    padding-left: 58px; } }

@media (min-width: 1200px) {
  .feedback__fieldset--introduce {
    padding-left: 80px; } }

@media (min-width: 768px) {
  .feedback__fieldset--contacts {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
    padding-top: 24px; } }

@media (min-width: 1200px) {
  .feedback__fieldset--contacts {
    margin-bottom: 30px;
    padding-top: 64px; } }

@media (min-width: 768px) {
  .feedback__fieldset--attraction {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 11px;
    padding-top: 42px; } }

.feedback__fieldset--impression {
  position: relative; }
  @media (min-width: 768px) {
    .feedback__fieldset--impression {
      padding-top: 57px;
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
      .feedback__fieldset--impression::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 20px;
        width: 1px;
        background-color: #dbdbdb; } }

@media (min-width: 768px) {
  .feedback__fieldset--emotions {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-top: 58px;
    margin-bottom: 23px; } }

.feedback__btn-container {
  margin-top: 15px;
  margin-bottom: 15px; }
  @media (max-width: 767px) {
    .feedback__btn-container {
      padding-left: 20px;
      padding-right: 20px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }
  @media (min-width: 768px) {
    .feedback__btn-container {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
      margin-top: 0; } }

.fieldset {
  margin-right: 0;
  margin-left: 0;
  border: 0;
  border-top: 1px solid #f2f2f2; }
  @media (max-width: 767px) {
    .fieldset {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (min-width: 768px) {
    .fieldset {
      border: 0; } }

.fieldset__title {
  float: left;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .fieldset__title {
      float: none;
      margin: 0;
      font-size: 21px; } }

.fieldset__title + * {
  clear: both; }

@media (min-width: 768px) {
  .fieldset--near {
    width: 50%;
    margin-bottom: 23px; } }

@media (min-width: 768px) {
  .fieldset--near .fieldset__title {
    text-align: left; } }

@media (min-width: 1200px) {
  .fieldset__title--left {
    padding-left: 80px; } }

.fieldset__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .fieldset__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (min-width: 768px) {
  .fieldset__checkbox-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: calc(100% - 185px);
    max-width: 650px;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .fieldset__checkbox-wrapper {
    width: 100%;
    max-width: none;
    margin: 0; } }

.fieldset__input {
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .fieldset__input:last-of-type {
      margin: 0; } }

.fieldset__input--contacts {
  margin-bottom: 11px; }
  @media (min-width: 768px) {
    .fieldset__input--contacts {
      margin-bottom: 24px; }
      .fieldset__input--contacts:last-of-type {
        margin: 0; } }
  @media (min-width: 1200px) {
    .fieldset__input--contacts:first-of-type {
      padding-right: 80px; } }

.fieldset__input--radio {
  margin-bottom: 12px; }
  @media (min-width: 768px) {
    .fieldset__input--radio {
      margin-bottom: 20px;
      padding-right: 20px; } }

@media (min-width: 768px) {
  .fieldset__input--checkbox {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    margin-bottom: 29px; } }

@media (min-width: 1200px) {
  .fieldset__input--checkbox {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -ms-flex-preferred-size: auto;
        flex-basis: auto; } }

@media (min-width: 768px) {
  .fieldset__title-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%; }
    .fieldset__title-line::after, .fieldset__title-line::before {
      content: "";
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
      height: 1px;
      background-color: #dbdbdb; }
    .fieldset__title-line::after {
      margin-left: 65px; }
    .fieldset__title-line::before {
      margin-right: 65px; } }

.input-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%; }

.input-text--full {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 1200px) {
    .input-text--full {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      width: auto; } }

.input-text--full .input-text__description {
  width: 100%;
  padding-left: 21px; }
  @media (min-width: 1200px) {
    .input-text--full .input-text__description {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      width: auto;
      padding-right: 15px;
      padding-left: 0; } }

.input-text--full .input-text__field {
  margin-top: 8px;
  margin-left: 0; }

.input-text__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-transform: uppercase; }

.input-text__field {
  width: 100%;
  margin-left: 13px;
  padding: 12px 18px;
  font-family: "PT Sans", arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent; }
  .input-text__field:hover {
    background-color: #e5e5e5; }
  .input-text__field:focus {
    border-color: #e5e5e5;
    outline: none;
    background-color: transparent; }
  .input-text__field::-webkit-input-placeholder {
    color: inherit; }
  .input-text__field::-ms-input-placeholder {
    color: inherit; }
  .input-text__field::placeholder {
    color: inherit; }

@media (min-width: 1200px) {
  .input-text__hidden {
    display: none; } }

.input-text--tel::after {
  position: absolute;
  top: 34px;
  right: 0;
  content: "";
  width: 58px;
  height: 58px;
  background: #e6e6e6 url("../img/icon-phone.svg") no-repeat center; }
  @media (min-width: 1200px) {
    .input-text--tel::after {
      top: 8px;
      right: 80px; } }

.input-text--email::after {
  position: absolute;
  top: 34px;
  right: 0;
  content: "";
  width: 58px;
  height: 58px;
  background: #e6e6e6 url("../img/icon-mail.svg") no-repeat center; }
  @media (min-width: 1200px) {
    .input-text--email::after {
      top: 8px;
      right: 0; } }

.input-radio {
  position: relative;
  display: block; }

.input-radio__description {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 80px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000; }
  .input-radio__description::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 55px;
    height: 55px;
    background-color: #f2f2f2;
    border-radius: 50%; }
  .input-radio__description::after {
    position: absolute;
    content: "";
    top: 21px;
    left: 17px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 21px;
    height: 21px;
    border-radius: 50%; }
  @media (min-width: 768px) {
    .input-radio__description {
      padding-left: 75px; } }
  @media (min-width: 1200px) {
    .input-radio__description {
      padding-left: 80px; } }

.input-radio__description:hover::before {
  background-color: #e5e5e5; }

.input-radio__btn:checked + .input-radio__description::after {
  background-color: #000000; }

.input-radio__description:active::before {
  background-color: #d5d5d5; }

.input-radio__description:active::after {
  opacity: 0.3; }

.input-check {
  position: relative;
  display: block; }

.input-check__description {
  display: block;
  padding-top: 14px;
  padding-bottom: 20px;
  padding-left: 80px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; }
  .input-check__description::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 55px;
    height: 55px;
    background-color: #f2f2f2;
    border-radius: 10%; }
  .input-check__description::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 55px;
    height: 55px; }

.input-check__description:hover::before {
  background-color: #e5e5e5; }

.input-check__description:active::before {
  background-color: #d5d5d5; }

.input-check__description:active::after {
  opacity: 0.3; }

.input-check__btn:checked + .input-check__description::after {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center; }

.text-field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 160px;
  padding: 7px 17px;
  resize: none;
  font-family: "PT Sans", arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: 4px solid transparent; }
  .text-field:hover {
    background-color: #e5e5e5; }
  .text-field:focus {
    border-color: #e5e5e5;
    outline: none;
    background-color: transparent; }
  .text-field::-webkit-input-placeholder {
    color: inherit; }
  .text-field::-ms-input-placeholder {
    color: inherit; }
  .text-field::placeholder {
    color: inherit; }

.popup {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: 0 6px 25px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 25px -3px rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .popup {
      width: calc(100% - 120px); } }
  @media (min-width: 1200px) {
    .popup {
      width: 640px; } }

.popup__description {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px; }
  @media (min-width: 768px) {
    .popup__description {
      max-width: 450px;
      padding: 0;
      padding-top: 55px; } }

.popup__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .popup__title {
      font-size: 30px; } }

.popup__text {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase; }

.popup__btn-wrapper {
  max-width: 275px;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px; }

.popup__btn-wrapper--gray {
  width: 100%;
  max-width: none;
  margin-bottom: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .popup__btn-wrapper--gray {
      width: auto;
      margin: 0;
      padding: 45px 92px; } }

@media (min-width: 768px) {
  .popup--fail {
    width: 400px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 0 auto; } }

.popup--fail .popup__title {
  width: 250px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 768px) {
    .popup--fail .popup__title {
      line-height: 40px; } }

.popup--hidden {
  display: none; }

.map {
  height: 350px;
  margin-bottom: 32px; }
  @media (min-width: 768px) {
    .map {
      margin-bottom: 38px; } }

.map__iframe {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #eeeeee;
  background-image: url("../img/bg-map-mobile@1x.jpg"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .map__iframe {
      background-image: url("../img/bg-map-mobile@2x.jpg"); } }
  @media (min-width: 768px) {
    .map__iframe {
      background-image: url("../img/bg-map-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .map__iframe {
      background-image: url("../img/bg-map-tablet@2x.jpg"); } }
  @media (min-width: 1200px) {
    .map__iframe {
      background-image: url("../img/bg-map-desktop@1x.jpg"); } }
  @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .map__iframe {
      background-image: url("../img/bg-map-desktop@2x.jpg"); } }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden; }
