@mixin input-text-style() {
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;

  background-color: $gray-input;
  border: 0;
}

@mixin input-radio-style() {
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
  color: $black;
}

@mixin input-checkbox-style() {
  font-size: $font-size-normal;
  font-weight: 700;
  line-height: $line-height-big;
}

@mixin btn-style() {
  text-decoration: none;

  border: 0;
  color: $white;
  background-color: $blue;

  &:hover {
    background-color: $blue-darker;
  }

  &:active {
    color: rgba(255, 255, 255, .3);
    background-color: $blue-darkest;
  }
}
